body{
	background-color: #B084D6;
	color: white;
	font-family: sans-serif, Arial;
	text-align: center;
	margin: 0;
}

h1 {
    font-family: sans-serif, Arial;
}

div{margin: 0;}

.extra-body{
	background-color: white;
	color: black;
	text-align: left;
	min-height: 100vh;
}

.navbar{
	background-color: #281538;
	margin: 0;
}

.navbar > ul{
	position: relative;  
    top: 0em;            
    left: 0em;         
    width: 100%;  
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li:hover > ul{display: block;}

.navbar > ul > li{
	position: relative;
}

.navbar > ul > li > a:hover{background-color: #281538}

.navbar > ul > li > a{
	display: block;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.navbar ul ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #281538;
	list-style: none;
	padding: 0;
	width: 150px;
	text-align: left;
}

.navbar ul ul li a{
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #281538;
}

@media all {
    body {
        margin: 0;
        padding: 0;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}