body{
	background-color: #eeede1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10px;
	font-family: sans-serif, Arial;
}

h4{
	font-weight: bold;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 5px;
}

h2{
	font-weight: bold;
}

p{
	margin-top: 10px;
}

.setting img{
	width: 100px;
	height: 100px;
}

.main-container{
	width: 1000px;
	display: flex;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.left-panel{
	width: 30%;
	background-color: #535056;
	padding: 0;
}

.photo-panel {
	width: 100%;
	text-align: center;
	line-height: 0.8;
}

.photo-panel img {
	display: block;
	width: 100%;
}

.text-content {
	padding: 15px;
	line-height: 1.2;
	color: #d4d4d4;
}

.right-panel{
	width: 70%;
	background-color: white;
	padding: 30px 20px;
}

.section{
	display: flex;
	gap: 20px;
	margin-bottom: 0;
}

.section-title{
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.section .year{
	width: 120px;
	font-weight: bold;
	color: #362F36;
}


.section .description{
	flex-grow: 1;
	align-self: flex-start;
}

.hw-column, .lab-column{
	flex: 1;
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 15px;
	color: #362F36;
}

.hw-column a, .lab-column a{
	text-decoration: none;
	line-height: 1.6;
	display: block;
}

.hw-column a:hover, .lab-column a:hover{
	text-decoration: underline;
}

.tag{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #f0f0f0;
	color: #333;
	margin-right: 10px;
	margin-bottom: 10px;
}

.music-note{
	margin-top: 15px;
	font-style: italic;
	color: #666;
}
